name: Main workflow

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - macos-14 # beta runner for macos arm64
          # - macos-latest
          # - windows-latest
        ocaml-compiler:
          - "5.1"
          # - "4.14"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          #opam-local-packages: |
          #  *.opam
          dune-cache: true
          allow-prerelease-opam: true
          
      - name: Owl Deps
        run: sudo apt-get install aspcud libshp-dev libopenblas-dev liblapacke-dev
      
      - name: clone owl
        run: git clone https://github.com/owlbarn/owl.git /tmp/

      - name: Owl OCaml Deps
        run: |
          cd /tmp/owl  
          opam depext owl-plplot.opam --deps-only
      
      - name: install owl
        run: |
          cd /tmp/owl
          opam exec -- dune build @install 
        
      - name: install owl-plplot deps 
        run: opam depext owl-plplot.opam --deps-only
    
      - name: Run tests
        run: opam exec -- dune build
        working-directory: examples