name: Install and Compile

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          # - 5
          - "5.1"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-local-packages: |
            *.opam
          dune-cache: true
          allow-prerelease-opam: true
      
      - name: Initialize OPAM
        run: opam init --disable-sandboxing --yes

      - name: Create and Set OPAM Switch
        run: |
          opam switch create owl-switch 5.1
          eval $(opam env)  # Load the new switch
      
      - name: Clone owl
        run: git clone https://github.com/owlbarn/owl.git /tmp/owl
      
      - name: Owl Deps
        run: sudo apt-get install aspcud libshp-dev libopenblas-dev liblapacke-dev

      - name: Owl OCaml Deps
        run: |
          cd /tmp/owl  
          opam install ocaml-compiler-libs alcotest conf-openblas ctypes dune-configurator stdio npy odoc
      
      - name: Install owl
        run: |
          cd /tmp/owl
          opam exec -- dune build @install 
        
      - name: Install owl-plplot deps 
        run: opam install plplot
    
      - name: Run tests
        run: opam exec -- dune build
        working-directory: examples
          
      