name: Install and Compile

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 5
          #- "5.1"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-local-packages: |
            *.opam
      
      - name: Owl Deps
        run: sudo apt-get install aspcud libshp-dev libopenblas-dev liblapacke-dev
      
      - name: clone owl
        run: git clone https://github.com/owlbarn/owl.git /tmp/owl

      - name: Owl OCaml Deps
        run: |
          cd /tmp/owl  
          opam depext owl-plplot.opam --deps-only
      
      - name: install owl
        run: |
          cd /tmp/owl
          opam exec -- dune build @install 
        
      - name: install owl-plplot deps 
        run: opam depext owl-plplot.opam --deps-only
    
      - name: Run tests
        run: opam exec -- dune build
        working-directory: examples
          
      